    <!--<div class="jumbotron">-->
        <!--<h1>'Allo, 'Allo!</h1>-->
        <!--<p class="lead">Always a pleasure scaffolding your apps.</p>-->
        <!--<p><a class="btn btn-lg btn-success" href="#">Splendid!</a></p>-->
    <!--</div>-->

    <!--<div class="row text-left">-->
        <!--<div class="col-md-offset-4">-->
            <!--{{#each articles}}-->
                <!--<p>{{title}}</p>-->
                <!--<p>{{writer}}</p>-->
                <!--<p>{{contents}}</p>-->
            <!--{{/each}}-->

            <!--Test1-->
            <!--<form action="/articles" method="POST">-->
                <!--<button type="submit">Submit</input>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->

